@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RFDewi;
	font-display: swap;
	src: url("../fonts/RFDewi-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: RFDewiExtended;
	font-display: swap;
	src: url("../fonts/RFDewiExtended-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RFDewiExtended;
	font-display: swap;
	src: url("../fonts/RFDewiExtended-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RFDewiExtended;
	font-display: swap;
	src: url("../fonts/RFDewiExtended-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: RFDewiExtended;
	font-display: swap;
	src: url("../fonts/RFDewiExtended-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: RFDewi;
	font-display: swap;
	src: url("../fonts/RFDewi-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RFDewiExtended;
	font-display: swap;
	src: url("../fonts/RFDewiExtended-Ultrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
