.about {
	&__container {
		position: relative;
		z-index: 2;
		@include adaptiveValue("margin-bottom", 800, 400);
	}

	&__title {
		color: var(--2, #fff);
		font-family: $fontFamilyBebasNeue;
		@include adaptiveValue("font-size", 150, 50);
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	&__text {
		color: var(--2, #fff);
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 30, 16);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@include adaptiveValue("margin-top", 100, 40);
	}

	&__cards {
		display: flex;
		gap: 23px;
		@include adaptiveValue("margin-top", 90, 30);
	}

	&__item {
		border-radius: 10px;
		background: var(--2, #fff);
		@include adaptiveValue("padding", 30, 20);
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 162, 0);
	}

	&__item-title {
		color: #000;
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 30, 16);
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			@include adaptiveValue("max-width", 31, 20);
			@include adaptiveValue("max-height", 31, 20);
			@include adaptiveValue("width", 31, 20);
			@include adaptiveValue("height", 31, 20);
			border-radius: 50%;
			background-color: $primaryColor;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--2, #fff);
			text-align: center;
			font-family: $fontFamilyMontserrat;
			@include adaptiveValue("font-size", 16, 10);
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 19.2px */
		}
	}

	&__item-text {
		color: #000;
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 16, 10);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__team {
		position: relative;
		z-index: 10;
	}
}

.page {
	&__about {
		@include adaptiveValue("margin-bottom", 200, 150);
		@include adaptiveValue("margin-top", 300, 150);

		position: relative;

		&::after {
			content: "";
			@include adaptiveValue("width", 518, 0);
			@include adaptiveValue("height", 1801, 0);
			position: absolute;
			bottom: -60%;
			left: 0;
			background-image: url("../img/page-about-bg.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

@media (max-width: $mobile) {
	.about {
		&__title {
			text-align: center;
		}

		&__cards {
			flex-direction: column;
		}

		&__item {
			gap: 80px;
		}
	}

	.page__about {
		&::after {
			content: "";
			display: none;
		}
	}
}
