.page {
	&__hero {
		&::after {
			content: "";
			display: block;
			@include adaptiveValue("width", 587, 187);
			@include adaptiveValue("height", 1558, 635);
			background-image: url("../img/hero-blur.png");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			@include adaptiveValue("top", -150, 0);
			top: -150px;
			left: 0;
		}
		&::before {
			content: "";
			display: block;
			@include adaptiveValue("width", 1085, 286);
			@include adaptiveValue("height", 729, 249);
			background-image: url("../img/hero-blur-menu.png");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
.hero {
	&__wrapper {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		margin-right: 0;
		margin-left: auto;
		position: relative;
		z-index: 3;
	}
	&__title {
		color: var(--2, #fff);
		font-family: $fontFamilyBebasNeue;
		@include adaptiveValue("font-size", 150, 50);
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	&__description {
		color: rgba(255, 255, 255, 0.7);
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 20, 16);
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 30, 16);

		@include adaptiveValue("max-width", 385, 168);
		margin-left: 50%;
		transform: translateX(-50%);
	}

	&__footer {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		@include adaptiveValue("margin-top", 80, 65);
		align-items: end;
		position: relative;
		z-index: 12;
	}

	&__mouse {
		color: var(--2, #fff);
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 16, 6);
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 10, 5);

		svg {
			align-self: flex-start;
			@include adaptiveValue("width", 19, 9);
			@include adaptiveValue("height", 33, 13);
		}
	}

	&__link {
		position: relative;
		z-index: 8;
		a {
			color: var(--2, #fff);
			font-family: $fontFamilyMontserrat;
			@include adaptiveValue("font-size", 30, 20);
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-decoration-line: underline;

			@extend %hover__link;

			&::after {
				content: "";
				@include adaptiveValue("bottom", 3, 1);
				@include adaptiveValue("height", 3, 2);
			}
		}
	}

	&__icon {
		position: fixed;
		@include adaptiveValue("bottom", 40, 20);
		@include adaptiveValue("right", 140, 20);
		right: 0;
		@include adaptiveValue("width", 108, 46);
		@include adaptiveValue("height", 108, 46);
		cursor: pointer;
		z-index: 50;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: $mobile) {
	.hero {
		&__wrapper {
			max-width: 100%;
		}

		&__description {
			margin-top: toRem(73);
			max-width: none;
			margin-left: 30%;
			transform: translateX(0);
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
		}

		&__mouse {
			align-items: flex-end;
		}
	}
}
