.team {
	&__wrapper {
		display: flex;
		@include adaptiveValue("gap", 200, 0);
		@include adaptiveValue("margin-top", 200, 100);
		justify-content: space-between;
	}

	&__grids {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__bigs {
		display: flex;
		@include adaptiveValue("gap", 20, 15);
		justify-content: flex-end;
		width: 100%;
	}

	&__big {
		@include adaptiveValue("max-width", 390, 180);
	}

	&__grid-label {
		color: rgba($color: #fff, $alpha: 0.7);
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 16, 10);
		font-style: normal;
		font-weight: 400;
		line-height: 90%;

		display: flex;
		align-items: center;
		gap: 20px;
		@include adaptiveValue("margin-bottom", 40, 0);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue("gap", 20, 15);
	}

	&__item {
		width: 100%;
		position: relative;
		border-radius: 10.1px;
		background: #6a16ab;
		@include adaptiveValue("padding", 22, 12);
		overflow: hidden;
		@include adaptiveValue("height", 345, 185);
		cursor: pointer;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&::after {
			content: "";
			display: block;
			border-radius: 10.1px;
			opacity: 0.5;
			width: 223px;
			height: 945px;
			opacity: 0.43;
			background: #000;
			mix-blend-mode: overlay;
			filter: blur(80.9000015258789px);
			-webkit-filter: blur(80.9000015258789px);
			position: absolute;
			top: 100%;
			transition: all 0.8s ease-in-out;
			left: 0;
			z-index: 3;
		}

		&:hover {
			.team__image {
				bottom: 0;
				top: 0;
			}
			&::after {
				content: "";
				top: -100%;
			}
		}
	}

	&__label {
		color: var(--2, #fff);
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 16, 8);
		font-style: normal;
		font-weight: 700;
		line-height: 86%; /* 13.76px */
		letter-spacing: -0.528px;

		position: relative;
		z-index: 5;
	}

	&__name {
		color: var(--2, #fff);
		font-family: $fontFamilyBebasNeue;
		@include adaptiveValue("font-size", 70, 30);
		font-style: normal;
		font-weight: 700;
		line-height: 96%;
		@include adaptiveValue("letter-spacing", -2.31, -1.23);
		position: relative;
		z-index: 5;
	}

	&__image {
		position: absolute;
		bottom: -100%;
		right: 0;
		top: 100%;
		z-index: 4;
		transition: all 0.7s ease-in-out;
		img {
			width: auto;
			height: 100%;
		}
	}

	&__ceo {
		width: 70%;
	}

	&__ceo-label {
		color: var(--2, #fff);
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 30, 16);
		font-style: normal;
		font-weight: 900;
		line-height: 86%; /* 25.8px */
		letter-spacing: -0.99px;
		@include adaptiveValue("letter-spacing", -0.99, -0.528);
		@include adaptiveValue("margin-bottom", 20, 10);
	}

	&__ceo-title {
		color: var(--2, #fff);
		font-family: $fontFamilyBebasNeue;
		@include adaptiveValue("font-size", 130, 50);
		font-style: normal;
		font-weight: 700;
		line-height: 96%;
		@include adaptiveValue("letter-spacing", -4.29, -1.65);
	}

	&__ceo-card {
		position: relative;
		color: #0a0a0a;
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 16, 10);
		font-style: normal;
		font-weight: 400;
		line-height: 96%;
		@include adaptiveValue("letter-spacing", -0.528, -0.33);
		border-radius: 10px;
		background: var(--2, #fff);
		@include adaptiveValue("height", 581, 333);
		@include adaptiveValue("padding", 50, 28);

		p {
			@include adaptiveValue("max-width", 278, 160);
		}

		img {
			position: absolute;
			bottom: 0;
			right: 0;

			max-width: calc(100% - 20px);
			max-height: 100%;
		}
	}

	&__description {
		display: flex;
		@include adaptiveValue("gap", 24, 10);
		color: rgba($color: #fff, $alpha: 0.7);
		font-family: $fontFamilyMontserrat;
		@include adaptiveValue("font-size", 20, 12);
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		@include adaptiveValue("margin-top", 217, 0);

		svg {
			@include adaptiveValue("margin-top", 6, 4);
			@include adaptiveValue("min-width", 10, 8);
		}
	}
}

@media (max-width: $tablet) {
	.team {
		&__wrapper {
			flex-direction: column-reverse;
		}

		&__ceo {
			width: 100%;
		}

		&__grid {
			grid-template-columns: 1fr 1fr;
		}

		&__grids {
			gap: 50px;
		}

		&__bigs {
			margin-top: toRem(-30);
			flex-direction: column;

			&-1 {
				display: flex;
				justify-content: flex-start;
			}
			&-2 {
				display: flex;
				justify-content: flex-end;
			}
		}

		&__grid-label {
			max-width: 35%;
			margin-right: 0;
			margin-left: auto;
			margin-bottom: toRem(0);
		}

		&__description {
			margin-top: toRem(0);
		}
	}
}
